@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:ital,wght@1,500&display=swap');

:root {
  --vp-c-brand: #8b55ff;
  --vp-c-brand-light: #8b55ff;
  --vp-c-brand-lighter: #8b55ff;
  --vp-c-brand-dark: #8b55ff;
  --vp-c-brand-darker: #8b55ff;

  --vp-font-family-base: 'Inter', sans-serif;
}
